.jumbotron{
   /* background-color: khaki;*/
    margin-top: 30px;
}
footer{
    padding: 10px 10px 0 10px;
    margin-top: 10px;
    background-color: rgb(199, 210, 216);
}
.card-hotel{
    flex: 1 250px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;;
}
.price_content{
    width: 100%;
    display: flex;
    background-color: rgb(225, 244, 250);
}
.tab-content {
    padding-top: 10px;
}