.jumbotron {
  background-color: #c8ecec;
  /* background-color: khaki;*/
  margin-top: 30px;
  margin-bottom: 10px;
}
footer {
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  background-color: #c8ecec;
}
.card-hotel {
  flex: 1 250px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.price_content {
  width: 100%;
  display: flex;
  background-color: #e1f4fa;
}
.tab-content {
  padding-top: 10px;
}
