@aqua: #c8ecec;

.margins(@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron {
  background-color: @aqua;
  /* background-color: khaki;*/
  .margins(30px, 10px);
}
footer {
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  background-color: @aqua;
}
.card-hotel {
  flex: 1 250px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.price_content {
  width: 100%;
  display: flex;
  background-color: rgb(225, 244, 250);
}
.tab-content {
  padding-top: 10px;
}
