$aqua: #8fbbb59d;
$yellow: rgb(229, 248, 53) 3;
$green: #63e951;
$red: #f15945;
$darkgreen: #18332f;

@mixin margins($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}
@mixin paddings($top, $bottom, $right) {
  padding-top: $top;
  padding-bottom: $bottom;
  padding-right: $right;
}
.jumbotron {
  color: $darkgreen;
  background-color: $aqua;
  @include margins(30px, 10px);
}
footer {
  color: $darkgreen;
  padding: 10px 10px 0 10px;
  background-color: $aqua;
  @include margins(10px, 0px);
}
.card-hotel {
  flex: 1 250px;
  @include paddings(2px, 2px, 0px);
  /* padding: 2px 0px 2px 0px;*/
  @include margins(10px, 0px);
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  @include paddings(0px, 0px, 10px);
  /*padding-right: 10px;*/
}
.price_content {
  width: 100%;
  display: flex;
  background-color: rgb(225, 244, 250);
}
.tab-content {
  @include paddings(10px, 0px, 0px);
  /*padding-top: 10px;*/
}
