.jumbotron {
  color: #18332f;
  background-color: #8fbbb5b0;
  margin-top: 30px;
  margin-bottom: 10px; }

footer {
  color: #18332f;
  padding: 10px 10px 0 10px;
  background-color: #8fbbb5b0;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 250px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 0px;
  /* padding: 2px 0px 2px 0px;*/
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  /*padding-right: 10px;*/ }

.price_content {
  width: 100%;
  display: flex;
  background-color: #e1f4fa; }

.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  /*padding-top: 10px;*/ }
